<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.title %></title>
</head>
<body>
<%- include('partials/header') %>
<h2><%= book.title %></h2>
<img src="<%= book.poster %>" alt="<%= book.title %>"
<br>
<form action="/books/<%= book.id %>/edit" method="get">
    <button type="submit">Edit</button>
</form>
<form action="/books/<%=book.id %>/delete" method="post">
    <button type="submit">Delete</button>
</form>


<br>
<%- include('partials/footer')  %>









